#items-wrapper {
  position: absolute;

  width: 100vw;
  height: 500px;

  display: flex;
}

#items {
  display: flex;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.item {
  flex: none;

  width: 100%;
  height: 400;

  scroll-snap-align: start;
}

img {
  width: 100vw;
  height: 100%;
}

.elements {
  position: relative;

  width: 100vw;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;
}

.arrows { 
  width: 1500px;

  display: flex;
  justify-content: space-between;
  
  margin: auto 0;
}

.arrow {
  font-size: 76px;

  padding: 12px 15px;
  color: #FFF;
  background-color: var(--color-primary);

  cursor: pointer;
}

.dots {
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border: 3px solid #000;
  margin: 15px;

  display: inline-flex;
  align-self: baseline;

  cursor: pointer;
}